.git
.env
.env.*
!.env.example
**/.env
**/.env.*
!**/.env.example
**/__pycache__
**/.pytest_cache
**/.ruff_cache
**/.mypy_cache
**/node_modules
**/build
**/dist
docs
python-epgu/tests
python-epgu/examples
**/*.000
*.key
*.p12
*.pfx
*.tgz
*.tar.gz
pycades.zip
cryptopro.zip
npm-debug.log
yarn-error.log
