# Каноничные подписи авторов репозитория.
# Формат: <Каноничное Имя> <канонический@email> [прежнее имя] [прежний@email]
#
# Строка без прежней подписи приводит к каноничному виду имя любого коммита с
# этим адресом. Сопоставлений по прежним адресам здесь нет: таких коммитов в
# истории не осталось, вся история сведена к двум авторам.

Maksim <yellow444@gmail.com>
Maksim Shatov <maksim@shatov.info>