# Исключаем node_modules, чтобы не копировать лишнее при сборке образа
node_modules

# Исключаем папку build, если сборка делается внутри Docker и результат сразу копируется
build

# Системные/служебные файлы и папки
.git
.gitignore
.DS_Store

# Логи
npm-debug.log
yarn-error.log

# Секретные файлы (при необходимости)
.env
